footer {
  background-color: black;
  height: 100px;
  margin-top: 100px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.links-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 10px;
  column-gap: 40px;
}
.links {
  display: flex;
  column-gap: 50px;
  letter-spacing: 2px;
  cursor: pointer;
}
