header {
  height: 70px;
  margin: auto;
  width: 60%;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
ul {
  display: flex;
  column-gap: 30px;
}
.nav-links {
  display: flex;
}
li {
  color: black;
  font-size: 20px;
}
a > img {
  background: transparent 1;
  width: 200px;
}
a > button {
  border: 1px solid black;
  width: 80px;
  height: 25px;
  border-radius: 3px;
}
